.profiles {
    margin-top: 60px;
    margin-left: 70em;

    position: absolute;
}

.photoImg {
    width: 40px;
    height: 40px;
    margin-top: 8px;
    margin-right: 10px;

    border-radius: 100%;
}

.profilePersons {
    display: flex;
    cursor: pointer;
    padding: 0 10px 0 10px;
    border-radius: 8px;
}

.profilePersons:hover {
    background-color: rgb(206, 206, 206);
}

.persons {
    margin-top: 4em;
}

.icons {
    position: absolute;

    display: flex;
    color: rgb(80, 80, 80);
}